@model CourierSystemDataLayer.Model.ShipmentInfo

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescription</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color:aliceblue">
    @*<partial name="_notification" />*@
    <div class="container">
        @using (Html.BeginForm())
        {
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">ShipmentMethod</label>
                    <input type="text" asp-for="ShipmentMethod" class="form-control" placeholder="ShipmentMethod">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">ShipVia</label>
                    <input type="text" asp-for="ShipVia" class="form-control" placeholder="ShipVia">

                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">ShippingTerms</label>
                <input type="text" asp-for="ShippingTerms" class="form-control" placeholder="ShippingTerms">

            </div>
            <div class="form-group">
                <label for="inputAddress2">PaymentStatus</label>
                <input type="text" asp-for="PaymentStatus" class="form-control" placeholder="PaymentStatus">
            </div>
            <div class="form-group">
                <div id="datepicker-group" class="input-group date" data-date-format="dd/mm/yyyy">
                    @Html.TextBoxFor(x => x.DeliveryDate, new {@class="form-control" })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
           @* <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">DeliveryDate</label>
                    <input type="datetime" asp-for="DeliveryDate" class="form-control" placeholder="DeliveryDate">
                </div>
               
            </div>*@

            <button type="submit" class="mt-2 w-100 green btn btn-success"> <i class="fa-solid fa-prescription"></i>Create Shipment Info</button>
            <a class="mt-2 w-100 green btn btn-success" asp-controller="Admin" asp-action="AllShippingInfo" class="btn btn-primary">
                <i class="bi bi-plus-lg"></i> &nbsp See All ShippingInfo
            </a>
        }
    </div>

</body>
</html>